{% include base_path %}
{% assign locale_key = page.locale | default: site.locale %}
{% assign nav_key = "main" %}
{% if locale_key contains "en" or page.url contains "/en/" %}
  {% assign nav_key = "main_en" %}
{% endif %}

{% assign site_title = site.title %}
{% if locale_key contains "en" or page.url contains "/en/" %}
  {% assign site_title = site.title_en | default: site.title %}
{% endif %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><span class="navicon"></span></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg persist"><a href="{{ base_path }}/">{{ site_title }}</a></li>
          {% for link in site.data.navigation[nav_key] %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          <!-- Language toggle -->
          <li class="masthead__menu-item persist tail">
            {% if locale_key contains "en" or page.url contains "/en/" %}
              <a href="{{ base_path }}{{ page.url | remove_first: '/en' }}">中文</a>
            {% else %}
              <a href="{{ base_path }}/en{{ page.url }}">EN</a>
            {% endif %}
          </li>
          <li id="theme-toggle" class="masthead__menu-item persist tail">
            <a role="button" aria-labelledby="theme-icon"><i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true" title="toggle theme"></i></a>
          </li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
